In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import RandomForestClassifier
import pickle

In [2]:
stroke_df = pd.read_csv('../Datasets/Stroke/healthcare-dataset-stroke-data.csv')
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
stroke_df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [4]:
stroke_df.shape

(5110, 12)

In [5]:
stroke_df=stroke_df.drop('id',axis=1)
stroke_df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [6]:
stroke_df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [7]:
stroke_df.dropna(inplace=True)
stroke_df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [8]:
stroke_df['stroke'].value_counts()

0    4700
1     209
Name: stroke, dtype: int64

In [9]:
stroke_df = pd.get_dummies(stroke_df,columns=['gender','ever_married','work_type','Residence_type','smoking_status'],drop_first=True)
stroke_df

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,1,1,0,1,0,1,0,0,1,1,0,0
2,80.0,0,1,105.92,32.5,1,1,0,1,0,1,0,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,0,0,1,0,1,0,0,1,0,0,1
4,79.0,1,0,174.12,24.0,1,0,0,1,0,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,1,1,0,1,0,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,13.0,0,0,103.08,18.6,0,0,0,0,0,0,0,1,0,0,0,0
5106,81.0,0,0,125.20,40.0,0,0,0,1,0,0,1,0,1,0,1,0
5107,35.0,0,0,82.99,30.6,0,0,0,1,0,0,1,0,0,0,1,0
5108,51.0,0,0,166.29,25.6,0,1,0,1,0,1,0,0,0,1,0,0
5109,44.0,0,0,85.28,26.2,0,0,0,1,0,0,0,0,1,0,0,0

In [10]:
stroke_df.groupby('stroke').mean()

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
stroke,,,,,,,,,,,,,,,,
0,41.760451,0.083191,0.043191,104.003736,28.823064,0.408936,0.000213,0.642128,0.004681,0.571064,0.153617,0.142553,0.506596,0.165957,0.376170,0.148511
1,67.712919,0.287081,0.191388,134.571388,30.471292,0.425837,0.000000,0.889952,0.000000,0.607656,0.253589,0.004785,0.521531,0.272727,0.401914,0.186603

In [11]:
X = stroke_df.drop(columns='stroke',axis=1)
Y = stroke_df['stroke']

In [12]:
print(X)

       age  hypertension  heart_disease  avg_glucose_level   bmi  gender_Male  \
0     67.0             0              1             228.69  36.6            1
2     80.0             0              1             105.92  32.5            1
3     49.0             0              0             171.23  34.4            0
4     79.0             1              0             174.12  24.0            0
5     81.0             0              0             186.21  29.0            1
...    ...           ...            ...                ...   ...          ...
5104  13.0             0              0             103.08  18.6            0
5106  81.0             0              0             125.20  40.0            0
5107  35.0             0              0              82.99  30.6            0
5108  51.0             0              0             166.29  25.6            1
5109  44.0             0              0              85.28  26.2            0

      gender_Other  ever_married_Yes  work_type_Never_worked  \
0                0                 1                       0
2                0                 1                       0
3                0                 1                       0
4                0                 1                       0
5                0                 1                       0
...            ...               ...                     ...
5104             0                 0                       0
5106             0                 1                       0
5107             0                 1                       0
5108             0                 1                       0
5109             0                 1                       0

      work_type_Private  work_type_Self-employed  work_type_children  \
0                     1                        0                   0
2                     1                        0                   0
3                     1                        0                   0
4                     0                        1                   0
5                     1                        0                   0
...                 ...                      ...                 ...
5104                  0                        0                   1
5106                  0                        1                   0
5107                  0                        1                   0
5108                  1                        0                   0
5109                  0                        0                   0

      Residence_type_Urban  smoking_status_formerly smoked  \
0                        1                               1
2                        0                               0
3                        1                               0
4                        0                               0
5                        1                               1
...                    ...                             ...
5104                     0                               0
5106                     1                               0
5107                     0                               0
5108                     0                               1
5109                     1                               0

      smoking_status_never smoked  smoking_status_smokes
0                               0                      0
2                               1                      0
3                               0                      1
4                               1                      0
5                               0                      0
...                           ...                    ...
5104                            0                      0
5106                            1                      0
5107                            1                      0
5108                            0                      0
5109                            0                      0

[4909 rows x 16 columns]

In [13]:
print(Y)

0       1
2       1
3       1
4       1
5       1
       ..
5104    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 4909, dtype: int64

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=100)

In [15]:
rfc = RandomForestClassifier()
rfc.fit(X_train, Y_train)

RandomForestClassifier()

In [16]:
rfc_pred = rfc.predict(X_test)

In [17]:
print(confusion_matrix(Y_test,rfc_pred))

[[1548    2]
 [  69    1]]

In [18]:
print(classification_report(Y_test,rfc_pred))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1550
           1       0.33      0.01      0.03        70

    accuracy                           0.96      1620
   macro avg       0.65      0.51      0.50      1620
weighted avg       0.93      0.96      0.94      1620

In [19]:
filename='../prediction_models/stroke_model.sav'
pickle.dump(rfc,open(filename,'wb'))

In [20]:
loaded_model = pickle.load(open(filename,'rb'))

In [21]:
#13.0,0,0,103.08,18.6,0,0,0,0,0,0,1,0,0,0,0

input_data = np.asarray([80.0,0,1,105.92,32.5,1,0,1,0,1,0,0,0,0,1,0])
input_data_reshaped = input_data.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)

if (prediction[0] == 1):
  print('Having chances of Stroke')
else:
  print('Not Having chances of Stroke')

Having chances of Stroke

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [22]:
X.columns

Index(['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi',
       'gender_Male', 'gender_Other', 'ever_married_Yes',
       'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children', 'Residence_type_Urban',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'],
      dtype='object')