In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import RandomForestClassifier
import pickle

In [2]:
kidney_df = pd.read_csv('../Datasets/kidney/kidney_disease.csv')
kidney_df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [3]:
kidney_df.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [4]:
kidney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [5]:
kidney_df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [6]:
kidney_df.shape

(400, 26)

In [7]:
kidney_df=kidney_df.drop('id',axis=1)
kidney_df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [8]:
kidney_df.isnull().sum()

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [9]:
kidney_df['classification'].replace("ckd\t","ckd",inplace=True)

kidney_df['dm'].replace(["\tno","\tyes"," yes"],["no","yes","yes"],inplace=True)

kidney_df['cad'].replace(["\tno"],["no"],inplace=True)

kidney_df['rc'].replace("\t?",np.nan, inplace=True)

kidney_df['wc'].replace("\t?",np.nan, inplace=True)

kidney_df['pcv'].replace(["\t?","\t43"],np.nan, inplace=True)

In [10]:
NumericalColumns = ['age','bp','al','su','bgr','bu','sc','sod','pot','hemo']
CategoricalColumns = ['rbc','sg','pc','pcc','ba','pcv','wc','rc','htn','dm','cad','appet','pe','ane']

for columnName in CategoricalColumns:
    kidney_df[columnName].fillna(kidney_df[columnName].mode()[0],inplace=True)

for columnName in NumericalColumns:
    kidney_df[columnName].fillna(kidney_df[columnName].mean(), inplace=True)

In [11]:
kidney_df.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [12]:
encodeColumn = ['rbc','pc' ,'pcc' ,'ba' ,'htn' ,'dm' ,'cad' ,'appet' ,'pe' ,'ane']
kidney_df = pd.get_dummies(kidney_df , columns=encodeColumn , prefix=encodeColumn , drop_first=True)

In [13]:
kidney_df['classification'].replace(["ckd","notckd"],[1,0], inplace=True)

In [14]:
kidney_df.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_poor,pe_yes,ane_yes
0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,...,1,1,0,0,1,1,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,...,1,1,0,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.627244,...,1,1,0,0,0,1,0,1,0,1
3,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.500000,...,1,0,1,0,1,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.627244,...,1,1,0,0,0,0,0,0,0,0

In [15]:
kidney_df['classification'].value_counts()

1    250
0    150
Name: classification, dtype: int64

In [16]:
kidney_df.groupby('classification').mean()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_poor,pe_yes,ane_yes
classification,,,,,,,,,,,,,,,,,,,,,
0,46.549889,71.419588,1.022333,0.033898,0.015005,109.334794,33.783696,0.942415,141.590958,4.347575,...,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00
1,54.443468,79.498763,1.014940,1.606780,0.711225,171.257551,71.610938,4.350478,135.091431,4.795045,...,0.812,0.696,0.168,0.088,0.588,0.548,0.136,0.328,0.304,0.24

In [17]:
X = kidney_df.drop(columns='classification',axis=1)
Y = kidney_df['classification']

In [18]:
print(X)

      age    bp     sg   al   su         bgr    bu   sc         sod       pot  \
0    48.0  80.0  1.020  1.0  0.0  121.000000  36.0  1.2  137.528754  4.627244
1     7.0  50.0  1.020  4.0  0.0  148.036517  18.0  0.8  137.528754  4.627244
2    62.0  80.0  1.010  2.0  3.0  423.000000  53.0  1.8  137.528754  4.627244
3    48.0  70.0  1.005  4.0  0.0  117.000000  56.0  3.8  111.000000  2.500000
4    51.0  80.0  1.010  2.0  0.0  106.000000  26.0  1.4  137.528754  4.627244
..    ...   ...    ...  ...  ...         ...   ...  ...         ...       ...
395  55.0  80.0  1.020  0.0  0.0  140.000000  49.0  0.5  150.000000  4.900000
396  42.0  70.0  1.025  0.0  0.0   75.000000  31.0  1.2  141.000000  3.500000
397  12.0  80.0  1.020  0.0  0.0  100.000000  26.0  0.6  137.000000  4.400000
398  17.0  60.0  1.025  0.0  0.0  114.000000  50.0  1.0  135.000000  4.900000
399  58.0  80.0  1.025  0.0  0.0  131.000000  18.0  1.1  141.000000  3.500000

     ...  rbc_normal pc_normal pcc_present ba_present  htn_yes  dm_yes  \
0    ...           1         1           0          0        1       1
1    ...           1         1           0          0        0       0
2    ...           1         1           0          0        0       1
3    ...           1         0           1          0        1       0
4    ...           1         1           0          0        0       0
..   ...         ...       ...         ...        ...      ...     ...
395  ...           1         1           0          0        0       0
396  ...           1         1           0          0        0       0
397  ...           1         1           0          0        0       0
398  ...           1         1           0          0        0       0
399  ...           1         1           0          0        0       0

     cad_yes  appet_poor  pe_yes  ane_yes
0          0           0       0        0
1          0           0       0        0
2          0           1       0        1
3          0           1       1        1
4          0           0       0        0
..       ...         ...     ...      ...
395        0           0       0        0
396        0           0       0        0
397        0           0       0        0
398        0           0       0        0
399        0           0       0        0

[400 rows x 24 columns]

In [19]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
395    0
396    0
397    0
398    0
399    0
Name: classification, Length: 400, dtype: int64

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=100)

In [21]:
rfc = RandomForestClassifier()
rfc.fit(X_train, Y_train)

RandomForestClassifier()

In [22]:
rfc_pred = rfc.predict(X_test)

In [23]:
print(confusion_matrix(Y_test,rfc_pred))

[[42  0]
 [ 0 90]]

In [24]:
print(classification_report(Y_test,rfc_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        42
           1       1.00      1.00      1.00        90

    accuracy                           1.00       132
   macro avg       1.00      1.00      1.00       132
weighted avg       1.00      1.00      1.00       132

In [25]:
filename='../prediction_models/kidney_model.sav'
pickle.dump(rfc,open(filename,'wb'))

In [26]:
loaded_model = pickle.load(open(filename,'rb'))

In [27]:
input_data = np.asarray([13,68.0,70.0,1.02,1.0169491525423728,0.45014245014245013,98.0,86.0,4.6,135.0,3.4,9.8,41,9800,5.2,1,1,0,0,1,1,1,1,1])

input_data_reshaped = input_data.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)

if (prediction[0] == 1):
  print('Having Kidney Disease')
else:
  print('Not Having Kidney Disease')

Having Kidney Disease

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [28]:
for column in X.columns:
  print(column)

age
bp
sg
al
su
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
rbc_normal
pc_normal
pcc_present
ba_present
htn_yes
dm_yes
cad_yes
appet_poor
pe_yes
ane_yes